<h3>Thanks for adding your dealership to our modest network!</h3>

<form action="/">
  <button type="submit" class="btn-success">Go Home</button>
</form>

<form action="/dealerships">
  <button type="submit" class="btn-success">See other dealerships</button>
</form>
