<div class="col-md-4">
  <h2>Would you like to look at our used cars?</h2>

  <form action="/vehicles">
    <div class="form-group">
      <button type="submit" class="btn-success">Submit</button>
    </div>
  </form>
</div>

<div class="col-md-4">
  <h2>Or would you like us to sell your cruddy used car?</h2>

  <form action="/dealerships/<%= @dealership.id() %>/vehicles/new">
    <div class="form-group">
      <button type="submit" class="btn-success">Submit</button>
    </div>
  </form>
</div>
