<div class="col-md-8 center-block">
  <h1>Welcome to Cruddy's network of dealerships all throughout the state of Oregon!</h1>
  <div class="center-block">
    <a href="/dealerships" class="btn btn-success" role="button">See dealerships</a>
    <a href="/dealerships/new" class="btn btn-success" role="button">Add dealerships</a>
  </div>
</div>
