<h2>Would you like to look at our cruddy used cars?</h2>
<form action="/vehicles">
<button type="submit" class="btn-success">Submit</button>
</form>

<h2>Or would you like us to sell your cruddy used car?</h2>
<form action="/vehicles/new">
<button type="submit" class="btn-success">Submit</button>
</form>
