<!DOCTYPE html>
<html>
  <head>
    <title>Cruddy's Car Dealership</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1>Welcome to Cruddy's Used Car Dealership!</h1>
      <%= yield %>
    </div>
  </body>
</html>
