<h2>Please tell us what kind of car you have.</h2>

<form action="/success" method=post>
<label for="make">What is the make of your car or truck?</label>
  <input id="make" name="make" class="form-control" type="text">

<label for="model">What is the model of your car or truck?</label>
  <input id="model" name="model" class="form-control" type="text">

<label for="year">What year was your car or truck built?</label>
  <input id="year" name="year" class="form-control" type="number">

<button type="submit" class="btn-success">Enter your vehicle</button>
</form>
